/*login.html*/

.ctn img{
    height: 200px;
  }
  .ctn{
    text-align: center;
    
  }
  
  .ctn form{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 55px;
  }
  
  .ctn form input{
    width: 100%;
    height: 40px;
    margin: 5px 0px 0px 0px;
    border-width:1px;
    border-color:darkgray;
    border-radius: 5px;
    padding-left: 10px;
  }
  
  .ctn h1 {
    font-size: 30px;
    margin:10px;
  }
  
  body{
    background-color: hsl(210deg 17% 98%);
  }
  
  button{
    margin: auto;
    width: 25%;
    height: 9%;
    border: none;
    color: white;
    background-color: #0d6efd;
    border-radius: 5px;
  }
  button:hover{
  border: 3px solid #95befc;
  border-width: 3px;
  border-color: #95befc;
  }
  h1{
    font-weight:600;
  }
  label{
    font-weight:500;
  }
  
  input:focus{
    border:none;
  }

  .img_svg{
    translate: 370px -32px;
    visibility: hidden;
  }
  #img_svg{
    translate: 370px -32px;
    visibility: hidden;
  }

  .error_email,
  .error_password{
    margin-top: -20px;
  }

  .g_id_signin{
   translate: 90px -0px ;
  }