#content {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 40vw);
    width: 85vw;
    margin: 0vw 7vw;
}

#name{
    align-items: center;
    justify-content: center;
}

#name br{
    justify-content: flex-end;
}

#name  h2 {
    padding: 30px 0px;
}

p{
    font-size: 20px;
    margin-top: 16px;
}

img{
    border: 2px solid #eff1f3;
    width: 22%;
    border-radius: 5px;
    padding: 5px;
    margin-right: 2%;
    margin-top: 2%;
}

#content2{
    margin: 5vw 7vw 0vw 7vw;

}

#contentComments p{
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

#commentsHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    height: 30px;
}
#commentsHead  p {
    margin-right: 5px;
}

#commentsMain p{
    margin: 0px 0px 10px 0px;
}

#contentComments{
    border: solid 1px #eff1f3;
}

#commentsMain p{
    margin-left: 1vw;
}

#content2 form{
    display: flex;
    flex-direction: column; 
}

#content2 form textarea{
    width: 20vw;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content2 form select{
    width: 130px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#content2 form input{
    width: 90px;
    height: 30px;
    background-color: #0d6efd;
    border-radius: 5px;
    color:white;
    border: none;
}


#images{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    align-items: center ;
    margin-left: 1vw;
}

#content{
    margin-top: 50px;
    background-color: #ccc;
    border-radius: 5px;
    height: 53vh;
    width: 82vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#description{
    grid-column: 2/3;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#button{
    margin-top: 10px;
    text-align: center;
}

#button button{
    width: 20vw;
    height: 5vh;
    background-color: #0d6efd;
    border-radius: 5px;
    color:white;
    border: none;
}

#images img {
    width: 100%;
    height: 50vh;
}

#related-products{
    margin:7vw;
    margin-bottom: 15vw;
    
}

#related-products div div{
    border: 2px solid #eff1f3;
    width: 20vw;
    height: 30vh;
}

#related-products div p{
    margin: 0px 0px 0px 7px;
}

#related-products div img{
    display: block;
    border: none;
    margin: auto;
    width: 100%;
}

#content-related div{
    margin: 0px 20px 0px 0px;
}

#content-related{
    display: flex;
}

@media screen and (max-width: 1000px){
    #content{
        height: 80vh;
        grid-template-rows: repeat(2, 40vh);
    }

    #images{
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #images img{
        height: 38vh
    }

    #description{
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #description p{
        font-size: 15px;
    }
}

@media screen and (max-width: 780px){
    #description p{
        font-size: 12px;
    }

    #button button{
        width: 50vw;
    }

    #content{
        height: 78vh;
        grid-template-rows: repeat(2, 40vh);
    }

    #description {
        
    }
}
    
